.turfContainer{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.turfWrapper{
    width: 100%;
    max-width: 1024px;
    display: flex;
    gap: 20px;
}
.turfstSearch{
    flex: 1;
    background-color: #febb02; 
    padding: 10px;
    border-radius: 10px;
    position: sticky;
    top: 10px; 
    height: max-content;
}
.turfResult{
    left: 3;
}

.turfTitle{
    font-size: 20px;
    color: #555;
    margin-bottom: 10px;
}
.SotItem{
    border-radius: 7px;
    color: #555;
    border-width: 0ch;
}

.filtertitle{
    color: darkblue;
    font-size: larger;
    font-weight: bold;
    font-family: "Inter";
}

.pagination{
    align-items: center;
    margin-left: 45rem;
    
}

.page-link{
    background-color: #febb02;
    text-align: center;
}
.alert{
    align-items: flex-start;
}
